---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//edit bellow for font size changes
html {
  font-size: 12px; // 16 // change to whatever

  @include breakpoint($medium) {
    font-size: 14px; //18 // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // 20// change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; //22 // change to whatever
  }
}
